#PSI {
  text-align: center;
}

#chartContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calendarContainer {
  position: absolute;
}

.healthy {
  fill: #3f9400;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.data_healthy {
  background-color: #37c03388;
}

.moderate {
  fill: #2099cc;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.data_moderate {
  background-color: #3d8eb1c5;
}

.unhealthy {
  fill: #f5c400fd;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.data_unhealthy {
  background-color: #e2bc25b0;
}

.very_unhealthy {
  fill: #ff7b00;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.data_very_unhealthy {
  background-color: #f68114be;
}

.dangerous {
  fill: #db1c13;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

.dataDangerous {
  background-color: #eb2c22ce;
}

.default {
  fill: grey;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
}

#mapSvg {
  width: 70vw;
  height: 35vw;
  margin: 20px;
}

#svgContainer {
  background-color: #1b2432;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border-collapse: separate;
}

table {
  border-spacing: 4px;
}

th {
  background-color: #7c77b9;
  border: 0.5px solid transparent;
  width: 10vw;
  font-size: 18px;
  text-align: center;
}

td {
  background-color: chocolate;
  height: 6vh;
  font-size: 20px;
  text-align: center;
  color: #d3d4d9;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121420;
}

#myHeader {
  height: 8vh;
  width: 98%;
  margin-left: 40px;
  color: #d3d4d9;
}

#dateChosen {
  color: #d3d4d9;
  margin-bottom: 40px;
}

#East:hover {
  transform: translateX(10px);
  stroke: #d3d4d9;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

#North:hover {
  transform: translateY(-15px);
  stroke: #d3d4d9;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

#South:hover {
  transform: translateY(20px);
  stroke: #d3d4d9;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}

#West:hover {
  transform: translateX(-10px);
  stroke: #d3d4d9;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  z-index: 200;
}

#myFooter {
  height: 20vh;
}

.purp {
  background-color: #1b2432;
  font-weight: bold;
  font-size: 16px;
}

#averageDataContainer {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.avgDiv {
  text-align: center;
  width: 8vw;
  border-radius: 1vh;
  color: #d3d4d9;
}

.red {
  background-color: red;
}

.defaultColor {
  background-color: #1b2432;
}

@media only screen and (max-width: 992px) {
  #testNational {
    width: 10vh;
  }
}

.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
}

.button1:hover {
  color: #000000;
  background-color: #ffffff;
}

#btn_calendarContainer {
  margin: 40px 0px 00px 0px;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b2432bc;
}

#closeBTN {
  margin-top: 30px;
  width: 70px;
  height: 3vh;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
}
#closeBTN:hover {
  color: #000000;
  background-color: #ffffff;
}

#ringBG {
  position: absolute;
  width: 99vw;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #1b2432;
}

/* Calender */

.react-calendar {
  width: 450px;
  max-width: 100%;
  color: white;
  background: #1b2432bc;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
  color: white;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  color: white;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #1b2432bc;
}
.react-calendar__navigation button[disabled] {
  background-color: #1b2432bc;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #1b2432bc;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: black;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #7c77b9;
}
.react-calendar__tile--now {
  background: #7c77b9;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #7c77b9;
}
.react-calendar__tile--hasActive {
  background: #7c77b9;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #7c77b9;
}
.react-calendar__tile--active {
  background: #7c77b9;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #7c77b9;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
